/* Footer.css */
.footer {
    background-color: #282c34;
    color: #ffffff;
    text-align: center;
    padding: 15px 5%;
    position: sticky;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links a {
    color: #ffffff;
    text-decoration: none;
    margin: 5px 10px;
    font-size: 0.9rem;
}

.footer-links a:hover {
    color: #61dafb;
}
