.filter-section {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0;
  margin: 0;
  background: transparent;
  z-index: 100;
}

.search-input,
.filter-select {
  border: none;
  box-shadow: 2px 1px 13px gray;
  border-radius: 1rem;
  padding: 0.8rem;
  font-size: 1rem;
  outline: none;
}

.reset-button {
  height: 2.7rem;
  padding: 0 1rem;
  border: none;
  border-radius: 30px;
  background-color: rgb(39, 208, 59);
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.reset-button:hover {
  background-color: #32b94f;
}
